* {
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: 'Poppins';
    src: url(/assets/font/Poppins/Poppins-Light.ttf);
}

body {
    font-family: 'Poppins';

}

.light,
.dark {
    padding: 2px;
    border: none;
}

.dark {
    display: none;
}

li {
    list-style-type: none;
}

/* Navigation Bar  */

.nav-bar {
    /* background-color: aqua; */
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #EA0000;
    font-size: 20px;
    font-weight: bold;
    font-family: serif;
    margin-left: -200px;
}

.nav-icon {
    padding: 10px;
    border-radius: 10px;
    border: none;
    /* background-color: #bcb5b5; */
    display: none;
}

.nav-mid li,
.nav-last li {
    float: left;
    list-style-type: none;
}

.nav-mid .nav-link {
    padding: 10px;
    font-size: 15px;
}

.btn-close {
    display: none;
}

.nav-mid .nav-link:hover {
    border-bottom: 2px solid #EA0000;
}

a {
    text-decoration: none;
    color: black;
}

.nav-link.active {
    border-bottom: 2px solid #EA0000;
}

.nav-last .nav-link {
    padding: 10px;
}

@media screen and (max-width:600px) {
    .nav-bar {
        background-color: #262f3a;
        /* position: fixed; */
        /* width: 100%; */
    }

    .nav-mid {
        display: none;
    }

    .nav-icon {
        display: inline;
    }

    .nav-bar {
        padding: 2%;
    }

    .logo,
    .nav-last {
        margin-top: 10px;
        margin-left: 15px;
    }

    .btn-close {
        display: inline;
        position: fixed;
        top: 0%;
        left: 80%;
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: inherit;
    }

    .nav-mid {
        width: 100%;
        /* height: 100%; */
        position: relative;
        margin-left: -100px;
        position: fixed;
        left: 70px;
        text-align: center;
        z-index: 1;
        background-color: #bcb5b5;
    }

    .nav-mid>li {
        display: block;
        float: none;
        padding: 10px;
    }

    .nav-link.active {
        border-bottom: none;
    }
}


/* SLIDER */

.slider-between {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    position: relative;
}

.slider-side {
    width: 50%;
}

.slide.text-one {
    color: #EA0000;
    font-size: 15px;
    font-weight: light;
    margin-bottom: 3px;
}

.slide.text-title {
    color: #EA0000;
    font-size: 100px;
    font-family: serif;
}

.slide.text-para {
    line-height: 23px;
    margin-bottom: 20px;
    font-family: sans-serif;
    /* width: 70%; */
}

.btn-between {
    display: flex;
    justify-content: space-between;
    /* width: 50%; */
}

.btn.btn-left {
    margin-top: 50px;
    padding: 20px;
    color: white;
    font-size: 15px;
    background-color: #EA0000;
    border: none;
    width: 200px;
    border-radius: 20px 20px 150px 20px;
}

.btn.btn-left:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateX(4px);
}

.btn.btn-right {
    margin-top: 50px;
    padding: 20px;
    color: white;
    font-size: 15px;
    background-color: #262f3a;
    border: none;
    width: 200px;
    border-radius: 150px 20px 20px 20px;
}

.btn.btn-right:active {
    background-color: #EA0000;
    box-shadow: 0 5px #666;
    transform: translateX(-4px)
}

.slide-bottom {
    margin-top: 70px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    font-family: sans-serif;
}

.fs-3 {
    font-weight: lighter;
}

.fs-5 {
    color: grey;
    font-weight: lighter;
}

.slider-img {
    margin-left: 100px;
    display: flex;
    /* justify-content: flex-end; */
}

.img-fluid {
    width: 100%;
}

@media screen and (max-width:600px) {
    .slider-between {
        padding: 4%;
        /* background-color: #666; */
    }

    .slider-img {
        display: none;
    }

    .slider-side {
        width: 100%;
    }

    .slide.text-para {
        font-size: 12px;
        text-indent: 5px;
        margin-bottom: 10px;
    }

    .btn.btn-left,
    .btn.btn-right {
        /* padding: 10px; */
        width: 150px;
    }

    .slide-bottom {
        text-align: center;
        width: 100%;
        margin-top: 40px;
    }
}

/* POPULAR-MEAL */

.popular-meal {
    padding: 20px;
}

.all.text-one {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
}

.all.text-title {
    text-align: center;
    font-family: serif;
    font-size: 50px;
    color: #EA0000;
    font-family: 'Playfair_Display';
    src: url(/assets/font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

.popu-body {
    padding: 90px;
    display: flex;
    justify-content: space-between;
}

.popu-card {
    display: inline-block;
    text-align: center;
    /* background-color: #EA0000; */
    /* width: 240px; */
}

.img-pic {
    width: 80%;
    height: 50%;
}

.rate,
.meal-place,
.meal-title,
.btn-meal {
    /* text-align: center; */
    margin-top: 20px;
    /* width: 70%; */
}

.fa.fa-star {
    color: red;
}

.btn-meal {
    padding: 20px;
    border: none;
    background-color: #EA0000;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 20px 5px 20px 10px;
}

.btn-meal:active {
    box-shadow: 2px 4px grey;
    transform: translateX(4px);
}

@media screen and (max-width:600px) {
    .popular-meal {
        padding: 10px;
    }

    .popu-header {
        margin-top: 30px;
    }

    .all.text-one {
        font-size: 15px;
    }

    .all.text-title {
        font-size: 30px;
    }

    .popu-body {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
}

/* FOOD DELIVERY */

.food-delivery {
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
}

.food-list {
    height: 300px;
    width: 20%;
    border-right: solid grey;
}

ul.food-list li {
    margin: 0;
    padding: 0;
}

li .list-link {
    display: block;
    padding: 20px;
}

.list-link.active,
.list-link.active:hover {
    background-color: #EA0000;
    border-radius: 2px 2px 50px 2px;
    /* width: 50%; */
    color: white;
    border-right: #EA0000;
}

.list-link:hover {
    background-color: aliceblue;
}

.food-card {
    background-color: #faf4f4;
    padding: 50px;
    width: 50%;
    border-radius: 20px;
    margin-left: 40px;
}

.food-text {
    padding: 10px;
    border-radius: 10px;
    background-color: #bcb5b5;
    width: 50%;
    margin-left: 10px;
    margin-bottom: 20px;
}

.food-text,
.foot-text {
    font-family: 'Poppins';
}

.food-title.all.text-title {
    text-align: start;
    font-size: 40px;
}

.food-text-para {
    font-size: 15px;
    margin-top: 5px;
}

.food-btn.btn.btn-left {
    background-color: #262f3a;
}

@media screen and (max-width:600px) {
    .food-delivery {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .food-list {
        width: 70%;
        height: fit-content;
    }

    li .list-link {
        padding: 10px;
    }

    .food-card {
        padding: 10px;
        width: 90%;
        margin-left: 0px;
        margin-top: 20px;
        margin-left: 0px;
    }

    .food-text {
        font-size: 10px;
    }

    .food-title.all.text-title {
        font-size: 25px;
    }

    .food-text-para {
        font-size: 12px;
    }

    .food-btn.btn.btn-left {
        width: 50%;
        font-size: 10px;
    }
}

/* POPULAR-MENU */

.menu {
    padding: 30px;
    background-color: #faf7f7;
}

.menu-body {
    padding: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-card {
    width: 270px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 1px 2px 2px 2px rgb(220, 209, 209);
    border-radius: 20px;
    margin-top: 20px;
}

.img {
    text-align: center;
    margin-bottom: 5px;
}

.img .img-fluid {
    width: 150px;
}

.menu-text-para {
    margin-top: 20px;
    font-size: 15px;
}

.menu-card-foot {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.menu-price {
    font-size: 15px;
}

.menu-foot {
    text-align: center;
}

.menu-btn.btn.btn-left {
    margin-top: 1px;
}

@media screen and (max-width:600px) {
    .menu {
        padding: 10px;
    }

    .menu-header {
        margin-top: 20px;
    }

    .menu-body {
        padding: 20px;
    }

    .menu-btn.btn.btn-left {
        width: 50%;
        font-size: 10px;
    }
}

/* TESTIMONIAL */

.testimonial {
    padding: 100px;
}

.testimonial-body {
    padding: 90px;
}

.testimonial-card {
    background-color: #bcb5b5;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    /* display: grid;
    grid-template-columns: auto auto; */
}

.card-img {
    padding: 20px;
    /* width: 70%; */
    text-align: center;
    /* background-color: #EA0000; */
}

.testimonial-name {
    margin-top: 20px;
    font-size: 20px;
}

.testimonial-para {
    width: 100%;
    padding: 4px;
}

.test-text {
    font-size: 30px;
    font-family: serif;
    padding: 20px;
}

.test.slide.text-para {
    font-size: 15px;
    margin-top: 10px;
    text-indent: 0%;
    border-left: 3px solid #EA0000;
    padding: 30px;
}

@media screen and (max-width:600px) {
    .testimonial {
        padding: 5px;
        text-align: center;
    }

    .testimonial-head {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .testimonial-body,
    .testimonial-card,
    .card-img {
        padding: 0px;
    }

    .testimonial-img {
        text-align: center;
        margin-left: -15px;
    }

    .testimonial-card {
        display: flex;
        flex-direction: column;
    }

    .test-text {
        padding: 5px;
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }

    .test.slide.text-para {
        padding: 10px;
        border: none;
    }

}

/* FOOTER */

footer {
    background-color: #262f3a;
    padding: 50px;
}

.social>.logo {
    display: inline;
}

.foot-content {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.fa.fa-facebook {
    color: blue;
}

.foot-text {
    margin-top: 20px;
}

.contact,
.support a,
.info a {
    color: white;
}

.foot.all.text-one {
    text-align: start;
}

.foot-end {
    text-align: center;
    color: white;
    font-size: 20px;
}

@media screen and (max-width:600px) {
    .foot-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .foot.all.text-one {
        text-align: center;
    }

    .foot-text {
        margin-top: 2px;
    }

    .contact,
    .support,
    .info {
        margin-top: 20px;
    }
}