* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body.bg-light {
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
/*** SIDE NAV */

aside {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20%;
  position: fixed;
  overflow: auto;
  top: 0;
}

ul.aside-nav,
ul.navProject {
  /* display: flex;
    flex-direction: column; */
  padding: 10px;
}
.navheader {
  font-size: 40px;
  margin-left: 10px;
  font-style: italic;
}

li.navitem > a.navlink {
  display: block;
  width: 70%;
  padding: 12px;
}

li.navitem > a.navlink:hover {
  color: grey;
}
li.navitem.active {
  background-color: grey;
  color: black;
}

#nav-column {
  border-right: 2px solid rgb(215, 207, 207);
}
.nav-header {
  font-size: large;
  background-color: white;
  color: rgb(92, 92, 195);
  position: fixed;
}
#mt-5 {
  margin-top: 30px;
}
.nav-item {
  margin-top: 7px;
  font-size: 2.2vh;
  color: aliceblue;
}
.nav-item,
a.nav-link {
  color: black;
}

@media screen and (max-width: 480px) {
  aside#nav-column {
    display: none;
  }
}


main,
header {
  margin-left: 20%;
}

/** HEADER */

.header {
  padding: 20px;
  top: 0;
  width: 77.5%;
  background-color: white;
  right: -10px;
  z-index: 1;
  position: fixed;
}

#sidebar {
  display: flex;
  justify-content: space-around;
}

#list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 14px;
}

.item > .link {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid grey;
}

.item > .link:hover {
  box-shadow: 0px 0px 1px 2px aqua;
}



/** MAIN */
main {
    margin-top: 12%;
}

/** SECTION **/

.section-body {
    background-color: rgb(221, 232, 242);
    padding: 10px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media screen and (max-width: 480px) {
  main {
    margin-left: 0%;
  }
}

@media screen and (max-width: 480px) {
  .header {
    right: 0px;
    width: 100%;
  }
  .main.body {
    margin-top: 30%;
  }
  #time .nav-item {
    width: 25%;
  }
  #list {
    width: 70%;
  }
  #list .nav-item {
    width: 50%;
  }
}

@media screen and (min-width: 480px) {
  #list {
    width: 25%;
  }
  #sidebar {
    display: none;
  }
}

