*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

/** SIDE NAV */
aside{
    display: flex;
    flex-direction: column;
    background-color: white;
    height:100vh;
    width: 20%;
    padding: 10px;
    position:fixed;
    overflow: auto; 
    top: 0;
}
#nav-column{
    border-right:2px solid rgb(215, 207, 207) ;
}
.nav-header{
    font-size: large;
    background-color: white;
    color: rgb(92, 92, 195);
    position: fixed;
}
#mt-5{
    margin-top: 20px;
}
.nav-item{
    margin-top: 7px;
    font-size: 2.8vh;
    color: aliceblue;
}
.nav-item,a.nav-link{
    color: black;

}

/** MAIN */
main{
    margin-left:20%;
    /* margin-top: 2%; */
}

/** HEADER */

.header{
    background-color: white;
    padding: 20px;
}
